# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/sope/build/
/sope/dist/

SopeFP5/nbproject/
SopeFP5/Makefile
SopeFP5/dist/
SopeFP5/buid/
SopeFP5/.dep.inc/

SopeFP4/nbproject/
SopeFP4/Makefile
SopeFP4/dist/
SopeFP4/build/
SopeFP4/.dep.inc/

SopeFP3/nbproject/
SopeFP3/dist/
SopeFP3/Makefile
SopeFP3/build/
SopeFP3/.dep.inc/

SopeFP1/nbproject/
SopeFP1/Makefile
SopeFP1/dist/
SopeFP1/build/
SopeFP1/.dep.inc

SopeFP2/nbproject/
SopeFP2/Makefile
SopeFP2/dist/
SopeFP2/build/
SopeFP2/.dep.inc

prob01/

sope/
/SopeFP5/build/

SopeFP5/main_1c

SopeFP1/10a

SopeFP1/10b
/SopeFP6/build/
/SopeFP6/dist/
SopeFP6/Makefile

SopeFP6/\.dep\.inc

SopeFP6/nbproject/

SopeFP6/runtest

SopeFP6/runteste

SopeFP2/runteste1

SopeFP2/runteste
